@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {

    background-image: url(../img/imagenCortada.jpg);
    background-size: cover;
    background-position-x: left;
}
.container-form{
    background-color: transparent;

    width: 60%;
    max-width: 1100px;
    margin: auto;
    margin-top: 200px;
    color: antiquewhite;
    text-align: center;
    
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
   
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    color: antiquewhite;
}

.container-form a i{
    color: whitesmoke;
    margin-right: 10px;
}